{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<head>
  <style>
    body {
      background-color: #09635ead;
    }
    .content-section {
      background:rgba(22, 21, 21, 0.589);
      padding: 15px 20px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  </style>
</head>

<div class="content-section" style=" width: 50vw; margin-left : 13vw;">
  <h1>Register</h1>
<div class="form-group">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Join Today </legend>
      {{ form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign u</button>
    </div>
  </form>
</div>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already have An Account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
    </small>

  </div>
</div>

{% endblock %}